# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HtmxDemo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\development\jerriepelser-blog\htmx-with-aspnet-core\.idea\.idea.HtmxDemo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
