@model IEnumerable<Customer>

@if (Model.Any())
{
    <ul class="customer-list list-group list-group-lg list-group-flush list my--4">
        @foreach (var customer in Model)
        {
            <li class="list-group-item px-0">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="avatar avatar-lg">
                            <img src="@customer.Avatar" alt="" class="avatar-img">
                        </span>
                    </div>
                    <div class="col ml--2">
                        <h4 class="card-title mb-1">
                            @GetCustomerFullName(customer)
                        </h4>
                        <p class="card-text small text-muted mb-1">
                            @customer.EmailAddress
                        </p>
                    </div>
                    <div class="col-auto">
                        <form asp-page-handler="Delete" asp-route-id="@customer.Id">
                            <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10 mt-5">

            <i class="fa fa-user fa-5x mb-5"></i>

            <h2>
                No Customers
            </h2>

            <p class="text-muted">
                You do not have any customers yet. Add a new customer by clicking the <strong>Add Customer</strong> button below.
            </p>

            <a class="btn btn-lg btn-primary d-none d-md-inline-block mt-3" href="#">Add Customer</a>
        </div>
    </div>
}

@functions {

    string GetCustomerFullName(Customer customer)
    {
        return $"{customer.FirstName} {customer.LastName}";
    }

}