@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome</h1>
<p>This application demonstrates various scenarios for using <a href="https://htmx.org/" target="_blank">HTMX</a> with ASP.NET Core Razor Pages</p>
<ul>
    <li><a asp-page="/DeleteItems">Delete items from a list</a></li>
    <li><a asp-page="/DeleteWithRefresh">Delete items from a list (with full page refresh)</a></li>
    <li><a asp-page="/DeleteWithPartialRefresh">Delete items from a list (with partial page refresh)</a></li>
    <li><a asp-page="/InlineEdit">Inline editing</a></li>
    <li><a asp-page="/InfiniteScrolling">Infinite Scrolling</a></li>
</ul>
